@use "./variables" as *;

.movie {
	margin: 5rem 0;
	text-align: center;

	h1 {
		margin-bottom: 2rem;
		text-transform: uppercase;
	}

	iframe {
		height: 300px;
		width: 100%;

		&.symphony {
			width: 100%;
		}
	}
}

.grid {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
	width: 100%;
	margin: 5rem 0;

	.images {
		margin-top: 2.5rem;
	}

	img {
		width: 100%;
	}

	.imagegrid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 7px;
		margin-bottom: 7px;
	}

	.text {
		text-align: center;

		h1 {
			margin-bottom: 2rem;
			text-transform: uppercase;
		}

		p {
			margin-bottom: 2rem;

			&.quote {
				font-style: italic;
			}
		}
	}
}

.close {
	position: fixed;
	top: 2rem;
	right: 2rem;
	z-index: 100;
	background: white;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	text-align: center;
	padding-top: 4px;
}

@media screen and (min-width: $mobile) {
	// .movie {
	// 	iframe {
	// 		height: 455px;
	// 	}
	// }
}

@media screen and (min-width: $tablet) {
	.movie {
		iframe {
			height: 610px;
			&.symphony {
				height: 350px;
			}
		}
	}
}

@media screen and (min-width: $desktop) {
	.movie {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		text-align: right;

		.text {
			min-width: 30%;
		}

		iframe {
			&.symphony {
				margin-top: -10px;
			}
		}
	}

	.grid {
		flex-direction: row-reverse;

		.images {
			width: 50%;
			margin-top: 0;
		}

		.text {
			max-width: 40%;
			text-align: right;

			h1 {
				text-transform: uppercase;
				font-size: 1.6rem;
			}

			p {
				font-size: 0.9rem;
			}
		}
	}
}

@media screen and (min-width: $lg-desktop) {
	.movie {
		iframe {
			margin-top: 0;
			&.symphony {
				height: 370px;
				margin-top: 0;
			}
		}
	}

	.close {
		right: 7rem;
	}
}

@media screen and (min-width: $wide) {
	.close {
		right: 15rem;
	}
}
